.container {  
    background-color: var(--background-color-a);
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

.navitem {
    background-color: var(--background-color-a);
    display: inline-block;
    border: 0px;
    height: 100%;
    margin: 0px;
    min-width: 15%;
    color: var(--nav-item-font-color);
    border: 1px solid var(--border-color);
}

.navbar{
    height: 4%;
    background-color: green;
    background-color: var(--background-color-a-light);
    padding: 0px;
}

.facetframe{
    height: 93%;
    background-color: var(--background-color-a);
}

.facet{
    height: 100%;
    padding: var(--panel-gap);
    box-sizing: border-box;
}
.optbar {
    position: relative;
    background-color: var(--background-color-a);
    height: 27px;
    padding: 10px;
    padding-top: 30px;
}

.contentgrid-wrapper {
    height: 93%;
}

.tab{
    background-color: var(--background-color-a-light);
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tab-bar{
    flex-basis: var(--tab-bar-size);
    flex-shrink: 0;
    flex-grow: 0;
    background-color: var(--tab-bar-color);
}
.tab-content{
    flex-basis: calc(100% - var(--tab-bar-size));
    padding: var(--tab-content-padding);
    flex-shrink: 1;
    flex-grow: 1;
}

.line-chart-canvas {
  max-width:100%;
  max-height:100%;
  background-color: var(--line-chart-background-color);

}

.list-table {
    width: 100%;
    height: 100%;
}

.list-table-key {
    border: var(--list-cell-border-size) solid;
    border-color: var(--list-cell-border-color);
    color: var(--list-default-font-color);
    font-size: 1.7vh;
    background-color: var(--list-background-color);
}

.list-table-value {
    border: var(--list-cell-border-size) solid;
    border-color: var(--list-cell-border-color);
    color: var(--list-default-font-color);
    font-size: 1.7vh;
    background-color: var(--list-background-color);
}

.performance-grid {
    display: grid;
    position: relative;
    height: 100%;
    max-height: 100%;
    grid-template-columns: 65% 35%;
    grid-template-rows: 24% 42% 34%;
    gap: var(--panel-gap) var(--panel-gap);
    grid-template-areas:
      "leftmost upperright"
      "leftmost lowerright"
      "leftmost lowerright";
}

.allocation-grid {
    display: grid;
    position: relative;
    height: 100%;
    max-height: 100%;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 50% 50%;
    gap: var(--panel-gap);
    grid-template-areas:
      "upperleft rightmost"
      "lowerleft rightmost";
}

.activity-grid {
    display: grid;
    position: relative;
    height: 100%;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1.2fr 1fr;
    gap: var(--panel-gap);
    grid-auto-flow: row;
    grid-template-areas:
      "upperright upperleft"
      "bottom bottom";
}

/* loading screen */
  
  #loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  #loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
  }
  
  #loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid #F00;
  }
  
  #loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
  }
  
  #loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
  }
  
  #loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
  }
  
  #loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
  }
  
  #loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
  }
  
  @-webkit-keyframes loaders {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  #content-wrapper {
    color: #FFF;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
  }