.performance-grid {
    display: grid;
    position: relative;
    height: 100%;
    max-height: 100%;
    grid-template-columns: 1.5fr 1fr;
    /*grid-template-rows: 1fr 1.2fr 1fr;*/
    grid-template-rows: 33% 33% 34%;

    gap: var(--panel-gap) var(--panel-gap);
    grid-template-areas:
      "leftmost upperright"
      "leftmost lowerright"
      "leftmost lowerright";
}


.keystats-wrapper {
  height: 100%;
  padding: var(--view-gap);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: hidden;
}

.keystats-interval-wrapper {
  height: 5%;
  flex-basis: 100%;
}

.keystats-returnchart-wrapper {
  height: 200px;
  flex-basis: 80%;
  flex-grow: 1;
  flex-shrink: 1;
}

.keystats-table-wrapper {
  height: 400px;
  flex-grow: 1;
  flex-basis: 30%;
}

.keystats-interval-button {
  background-color: var(--view-button-background-color);
  color: var(--view-button-font-color);
  border: 0px solid var(--view-button-border-color);
  padding: 8px;
}

.performance-worth-view-wrapper {
  display: flex;
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-between;
  padding: 20px;
  list-style: none;
  align-content: spece-between;
  gap: 20px;
}

.performance-worth-details {
  flex-grow: 1;
  flex-shrink: 1;
  height: 20%;
}

.performance-worth-box {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--background-color-b);
  line-height: 0.4em;
  height: 100%;
}

.performance-worth-title {
  margin-top: 20px;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: var(--font-color-a);
}

.performance-worth-value {
  font-size: 1.5em;
  text-align: center;
  color: var(--font-color-a-light);
}

.performance-worth-change {
  font-size: 0.7em;
  color: var(--font-color-a-light);
  text-align: right;
  margin-right: 20px;
}
