<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Portfolio Dashboard</title>
    <link rel="stylesheet" href="static/css/theme.css"/>
    <link rel="stylesheet" href="static/css/global.css"/>
    <link rel="stylesheet" href="static/css/layout.css"/>
  </head>
  </head>
  <body>

    <div class="container" id="app">
      <navbar>
        <navitem title="Performance" target="performance"></navitem>
        <navitem title="Allocation" target="allocation"></navitem>
        <navitem title="Activity" target="activity"></navitem>
      </navbar>
      <facetframe>
          <facet name=performance title="Performance">
            <optbar> </optbar>
            <contentgrid grid=performance-grid>
                <tab title="key stats" region="leftmost"><KeyStatsView/></tab>
                <tab title="overall worth" region="upperright"><OverallWorthView/></tab>
                <tab title="strategy results" region="lowerright"><StrategyResultView/></tab>
            </contentgrid>
          </facet>
          <facet name=allocation title="Allocation">
            <optbar> </optbar>
            <contentgrid grid=allocation-grid>
                <tab title="strategy allocator" region="upperleft"><AllocatorView/></tab>
                <tab title="allocation chart" region="lowerleft"><AllocationPieView/></tab>
                <tab title="empty" region="rightmost"><EmptyView/></tab>
            </contentgrid>
          </facet>
          <facet name=activity title="Activity">
            <optbar><ActivityOptions/></optbar>
            <contentgrid grid=activity-grid>
                <tab title="observations" region="upperright"><JournalView/></tab>
                <tab title="journal" region="upperleft"><ObservationsView/></tab>
                <tab title="transactions" region="bottom"><TransactionsView/></tab>
            </contentgrid>
          </facet>
      </facetframe>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="static/js/app.js"></script>
    <script type="module" src="static/js/performance.js"></script>
    <script type="module" src="static/js/allocation.js"></script>
    <script type="module" src="static/js/activity.js"></script>
    <script type="module" src="static/js/main.js"></script>
  </body>
</html>
